# =========================
# Dependencies
# =========================
node_modules/
.pnpm-store/

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Build output
# =========================
dist/
build/
.next/
out/

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE files
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
coverage/
.tmp/
.cache/
